#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

body {
  background: #191414;
  color: #fff;
}

h1,h2 {
  color: #1DB954;
  padding-top: 30px;
  padding-bottom: 50px;
}

.btn-primary,.btn-primary:active,.btn-primary:focus {
  color: #191414;
  background-color: #1DB954;
  border-color: #1DB954;
  padding-bottom: 50px;

  /*background:transparent;*/
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin: 18px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  outline:none;
  position:relative;
  top:0;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  border-radius:20em; 
}

.btn-primary:hover {
  color: #191414;
  background-color: #1DB954;
  border-color: #1DB954;
}

.container,#login-button{
  text-align: center;
}

.grid-container {
  display: grid;
}

#grid-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

#rec-button-div {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

#rec-playlist-div {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}