#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

body {
  background: #191414;
  color: #fff;
}

h1,h2 {
  color: #1DB954;
  padding-top: 30px;
  padding-bottom: 50px;
}

.btn-primary,.btn-primary:active,.btn-primary:focus {
  color: #fff;
  background-color: #141919;
  border-color: #1DB954;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.btn-primary:hover {
  color: #191414;
  background-color: #1DB954;
  border-color: #1DB954;
}

.container,#login-button{
  text-align: center;
}
